body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/assets/home.png"); /* Replace with your image path */
  background-size: cover; /* Ensures image covers the entire viewport */
  background-repeat: repeat; /* Prevents image tiling */
  background-position: center; /* Centers the image horizontally and vertically */
  height: fit-content; /* Ensures background covers the entire viewport height */
  text-decoration: none;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ---------- Navbar starting ---------- */
.navbar__main .navbar-toggler{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  right: 0;
  position: fixed;
  /* width: 100%; */
  height: fit-content;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 10;
  list-style: none;
  margin-left: 10px !important;
}

.navbar__element {
  color: wheat !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  transition: color 0.2s ease-in-out;
}

.navbar__element:hover {
  color: aliceblue;
}

/* ---------- Navbar ending ---------- */


/* ---------- blog starting ---------- */

.blog-page {
  padding: 50px 0;
  color: #ADD8E6;
  text-align: center;
}

.blog-section-heading {
  margin-bottom: 50px;
  font-size: 4em;
  font-weight: 600;
  font-family: cursive;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  justify-content: space-between;
}

.blog-post {
  width: 30%;
  margin-bottom: 20px;
  background-color: rgba(240, 230, 230, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(161, 150, 150, 0.2);
  transition: all 0.2s ease-in-out;
}

.blog-post:hover {
  transform: scale(1.05);
  cursor: pointer;
}

a .blog-post-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
}

a .blog-post-title {
  font-size: 1.6em;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 10px;
  bottom: 0;
}

.blog-post-button {
  text-decoration: none !important;
}
/* ---------- blog ending ---------- */