* {
  /* margin: 0; */
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black-color: #010101;
  --white-color: #fefdfd;
  --grey-color: #b1aebb;
  --light-purple-color: #5f43b2;
  --dark-purple-color: #3a3153;
  --text-font: "Inter", sans-serif
}


/* ---------- Navbar starting ---------- */
.navbar__title {
  color: var(--black-color) !important;
  font-family: var(--text-font);
  font-size: 2rem;
  font-weight: bold;
}

.navbar__togglerButton {
  border: none;
}

.navbar__element {
  color: var(--grey-color);
  font-family: var(--text-font);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.navbar__element:hover {
  border-color: var(--grey-color);
  border-radius: 8px;
  background: rgb(248, 248, 248);
  border-left: 20px;
}

@media screen and (max-width: 768px) {
  .navbar__title {
    font-size: 1.6rem;
  }

  .navbar__togglerButton {
    font-size: 1rem;
    border: none;
  }

  .navbar__element {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .navbar__title {
    font-size: 1.5rem;
  }

  .navbar__togglerButton {
    font-size: 1rem;
    border: none;
  }

  .navbar__element {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .navbar__title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar__title {
    font-size: 1.4rem;
  }

  .navbar__togglerButton {
    font-size: 0.8rem;
  }

  .navbar__element {
    font-size: 0.7rem;
  }
}
/* ---------- Navbar ending ---------- */

/* Homepage starting */
.home__page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.home__text {
  flex: 1;
  min-width: 300px;
  margin-right: 1.25rem;
}

.home__image {
  flex: 1;
  min-width: 300px;
}

.home__image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  padding: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 768px) {
  .home__page {
    flex-direction: column;
    text-align: center;
  }

  .home__text {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Homepage ending */

/* ---------- blog starting ---------- */

/* ---------- blog ending ---------- */
